@tailwind base;
@tailwind components;
@tailwind utilities;


input.without-spin-btn::-webkit-outer-spin-button,
input.without-spin-btn::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.without-spin-btn[type=number] {
    -moz-appearance: textfield;
}

.amountInput .currencyName {
    position: absolute;
    top: 17px;
    right: 0px;
}
